<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://120.55.87.231:3306/linterest</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.provider_class">com.linterest.HibernateUtil</property>
    <property name="hibernate.connection.username">defdc829f36acd566415f5363a03049b</property>
    <property name="hibernate.connection.password">5fd39cf5d1ebf70717ae28172e0b19af</property>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
    <property name="connection.pool_size">1</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="current_session_context_class">thread</property>
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">validate</property>
    <property name="hibernate.transaction.auto_close_session">true</property>

    <mapping class="com.linterest.dto.UserEntity"/>
    <mapping class="com.linterest.dto.ArrangementEntity"/>
    <mapping class="com.linterest.dto.ArrangementDiscussionEntity"/>
    <mapping class="com.linterest.dto.ArrangementGuestEntity"/>
    <mapping class="com.linterest.dto.ArrangementStatusEntity"/>
    <mapping class="com.linterest.dto.CouponEntity"/>
    <mapping class="com.linterest.dto.CouponTypeEntity"/>
    <mapping class="com.linterest.dto.DishEntity"/>
    <mapping class="com.linterest.dto.HobbyEntity"/>
    <mapping class="com.linterest.dto.MenuEntity"/>
    <mapping class="com.linterest.dto.MenuDishEntity"/>
    <mapping class="com.linterest.dto.PersonalityEntity"/>
    <mapping class="com.linterest.dto.UserArrangementLikeEntity"/>
    <mapping class="com.linterest.dto.UserCouponEntity"/>
    <mapping class="com.linterest.dto.UserCouponStatusEntity"/>
    <mapping class="com.linterest.dto.UserHobbyEntity"/>
    <mapping class="com.linterest.dto.UserOrderEntity"/>
    <mapping class="com.linterest.dto.UserPersonalityEntity"/>
    <mapping class="com.linterest.dto.UserScoreEntity"/>
    <mapping class="com.linterest.dto.OrderStatusEntity"/>
    <mapping class="com.linterest.dto.UserDeviceIdEntity"/>

  </session-factory>
</hibernate-configuration>